/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/rubik-v28-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/rubik-v28-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

body {
  font-family: 'Rubik';
  font-style: normal;
  font-size: 16px;
  line-height: 7;
  font-weight: normal;
  color: #144747;
}


/* Начало настроек верхней части */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.item {
  width: 200px;
  height: 100px;
  background-color: green;
}

.wrapper {
  max-width: 1172px;
  margin: 0 auto;
}

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 40px;
}

.header__logo {
  width: 95.92px;
  height: 35.25px;
  top: 31px;
  left: 30px;
}

.header_list {
  display: flex;
  flex-wrap: wrap;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.header_item1 {
  width: 214px;
  height: 19px;
  top: 37px;
  left: 176px;
}

.header_item2 {
  width: 174px;
  height: 19px;
  top: 37px;
  left: 419px;
}

.header_item:last-child {
  margin-right: 0;
}

.icons {
  width: 113px;
  height: 42px;
  top: 25px;
  left: 625px;
  margin-right: 20px;
}

.icon {
  width: 16px;
  height: 16px;
  top: 38px;
  left: 625px;
  margin-right: 13px;
}

.menu_ {
  width: 77px;
  height: 42px;
  top: 25px;
  left: 661px;
  border-radius: 21px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.line {
  width: 14px;
  height: 10px;
  top: 41px;
  left: 674px;
  border-radius: 2px;
}

.header_link1 {
  font-size: 16px;
  line-height: 18.96px;
  color: #363636;
  text-decoration: none;
}


.header_link2 {
  font-size: 16px;
  line-height: 18.96px;
  color: #144747;
  text-decoration: none;
}

.header_link1:hover, .header_link1:focus, .header_link1:active {
  opacity: .75;
}

.header_link2:hover, .header_link2:focus, .header_link2:active {
  opacity: .75;
}

.search-bar {
  margin-top: 68px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 25px 50px #008C8C1A;
  float: left;
}

.search-bar input {
  border: 0px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 30px;
}

.btn-srch {
  width: 101px;
  height: 72px;
  top: 120px;
  left: 637px;
  border-radius: 0px, 40px, 40px, 0px;
  box-shadow: 0px -1px 4px 0px rgba(168, 255, 255, 0.3) inset;
  box-shadow: 0px 0px 19px 0px rgba(0, 140, 140, 0.25);
  background: rgba(0, 140, 140, 1);
}




/* Конец настроек верхней части */

.intro {
  height: 105vh;
  background: url(../img/Vector.jpg) no-repeat right center;
  padding-top: 342px;
  padding-left: 183px;
}

.intro_title {
  width: 302px;
  height: 62px;
  top: 342px;
  left: 373px;
  font-family: Rubik;
  font-size: 48px;
  font-weight: 700px;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
}

.intro_par {
  width: 381px;
  height: 75px;
  top: 396px;
  left: 374px;
  font-family: Rubik;
  font-size: 42px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
}

.mestosrch {
  width: 270px;
  height: 66px;
  top: 510px;
  left: 374px;
  border-radius: 33px;
  box-shadow: 0px 4px 0px 0px rgba(121, 0, 30, 1);
  box-shadow: 0px 0px 19px 0px rgba(177, 57, 87, 0.25);
  box-shadow: 0px -1px 4px 0px rgba(168, 255, 255, 0.3) inset;
  background: rgba(177, 57, 87, 1);
  font-family: Rubik;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}


.vectors {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 750px;
}

.vctr-resp {
  margin-right: 20px;
}